@import url(https://fonts.googleapis.com/css?family=Righteous);
    
* {
  margin:  0;
  padding: 0;
  }
html {
  font-family: 'Righteous', seri;
  background-color:rgb(225, 159, 242);
}

@media (min-width: 400px) {
    
.cont {
  width: 300px;
  height: auto;
  position: relative;
 margin: 5%;
  border: 3px outset mediumorchid;
  border-radius: 20px;
  background-color: #FDFBF7;
  padding:30px;

}

form p {
  font-size: 20px;
}

.resultado {

  width: 300px;
  margin: 5%;
  top: 350px;
  border: 3px outset mediumorchid;
  border-radius: 20px;
  background-color: #FDFBF7;
  padding: 30px;
  font-family: 'Righteous', serif;
}

form#form {
    text-align: center;
}

.resultado p {
  text-align: center;

}

#check {
  background-color: mediumorchid;
  border-radius: 4px;
  color: #000;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Righteous', serif;
}

span {
  font-size: 12px;
  color: #4d4949;
}

h1 {
  text-align: center;
  font-family: 'Righteous', serif;
  color :mediumorchid;

}

h3 {
  text-align: center;
}
.pie{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}



}


  @media (min-width: 900px) {
    .cont {
        width: 600px;
        height: auto;
        position: relative;
        margin-left: 25%;
        margin-top: 5%;
        border: 3px outset mediumorchid;
        border-radius: 20px;
        background-color: #FDFBF7;
        padding:30px;
      
      }
      
      form p {
        font-size: 20px;
      }
      
      .resultado {
      
        width: 600px;
        margin-top: 10px;
        margin-left: 25%;
        top: 350px;
        border: 3px outset mediumorchid;
        border-radius: 20px;
        background-color: #FDFBF7;
        padding: 30px;
        font-family: 'Righteous', serif;
      }
      
      form#form {
          text-align: center;
      }
      
      .resultado p {
        text-align: center;
      
      }
      
      #check {
        background-color: mediumorchid;
        border-radius: 4px;
        color: #000;
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Righteous', serif;
      }
      
      span {
        font-size: 12px;
        color: #4d4949;
      }
      
      h1 {
        text-align: center;
        font-family: 'Righteous', serif;
        color :mediumorchid;
      
      }
      
      h3 {
        text-align: center;
      }
      
        .pie {
            text-align: center;
            margin-left: 15%;
        }

   }